.base-title
	text-transform: uppercase
	font-family: 'Proxima Nova Bold'
	font-size: 30px
	line-height: 1.33
	color: #333333
	margin-bottom: 29px

.title-white
	color: $white

.base-btn
	width: 176px
	height: 40px
	border-radius: 3px
	background-color: $red
	display: flex
	align-items: center
	justify-content: center
	font-family: 'Proxima Nova Bold'
	font-size: 13px
	letter-spacing: 0.8px
	color: #fff
	text-transform: uppercase
	transition: all 0.3s ease
	&:hover
		background-color: darken($red, 5%)
		color: #fff
		text-decoration: none
	&.btn-card
		img
			margin-right: 10px
			position: relative
			top: -1px
