#is-gallery
	.contacts-block
		margin-bottom: 20px
		margin-top: 20px

.project-full-slider
	.owl-nav
		display: none !important
	.slider-item
		display: flex
		flex-wrap: wrap
.slider-item-grid
	display: flex
	justify-content: space-between
	margin-bottom: 88px
	.item-content
		margin-right: 38px
		.object-description
			font-size: 15px
			background-color: transparent
			padding: 0
			margin-bottom: 30px
			min-width: auto
			p
				display: none
				&:nth-child(1)
					display: block
			.objects-more
				display: inline-block
				color: $text
				font-family: 'Proxima Nova Semibold'
				text-transform: uppercase
				border-bottom: 2px dotted $text
				line-height: 20px
				&:hover
					text-decoration: none
					border-bottom: 2px dotted transparent	
		.object-addres
			display: flex
			align-items: center
			margin-bottom: 27px
			img
				margin-right: 15px
			span
				font-family: 'Proxima Nova Semibold'
				font-size: 21px	
		.update
			margin-left: auto
			color: #b8b8b8
			font-size: 13px
	.item-gallery
		min-width: 543px
		max-width: 534px
		.object-addres
			display: none
		.mobile-title
			display: none	
		.main-image
			width: 100%
			height: 345px
			background-size: cover
			background-position: bottom center
			margin-bottom: 22px
		.mini-objects
			display: flex
			justify-content: space-between
			a
				display: inline-block
				width: 118px
				height: 118px
				position: relative
				background-size: cover
				&.more-objects
					position: relative
					display: flex
					align-items: center
					justify-content: center
					z-index: 10
					&:hover
						text-decoration: none
					span
						position: relative
						z-index: 10
						color: #fff
					&:before
						content: ""
						display: block
						width: 100%
						height: 100%
						left: 0
						top: 0
						position: absolute
						background-color: rgba(240, 20, 41, 0.75)

.object-table
	width: 100%
	max-width: 643px
	.object-table-head
		padding: 17px
		background-color: #eff1f1
		color: #8e9da7
		display: flex
		font-size: 15px
		.head-item
			&:nth-child(1)
				width: 25%
				text-align: center
			&:nth-child(2)
				width: 15%
				text-align: center
			&:nth-child(3)
				width: 20%
				text-align: center
			&:nth-child(4)
				width: 40%
				text-align: center			
	.head-item
	.object-table-content
		border-left: solid 1px #eff1f1
		border-right: solid 1px #eff1f1
	.object-table-line
		display: flex
		padding: 0px 13px
		align-items: center
		border-bottom: solid 1px #eff1f1
		min-height: 38px
		.object-table-item
			&:nth-child(1)
				width: 25%
				text-align: center
				line-height: 14px
			&:nth-child(2)
				width: 15%
				text-align: center
			&:nth-child(3)
				width: 20%
				text-align: center
			&:nth-child(4)
				width: 40%
				text-align: center
			font-size: 13px
			font-family: 'Proxima Nova Semibold'
			&.red
				color: $red


.project-slider-buttons
	display: flex
	justify-content: space-between
	margin-bottom: 15px
	.buttons
		width: 163px	
		height: 40px
		display: flex
		align-items: center
		justify-content: center
		border-radius: 3px
		background-color: #eff1f1
		font-size: 13px
		text-transform: uppercase
		font-family: 'Proxima Nova Semibold'
		letter-spacing: 0.5px
		font-weight: bold
		&:hover
			cursor: pointer
			background-color: $red
			color: #fff
			svg
				path
					fill: #fff
		&.next-wrap
			span
				padding-right: 10px
		&.prev-wrap
			span
				padding-left: 10px
			svg
				transform: rotate(180deg)

.slider-titles
	display: flex
	justify-content: space-between
	margin-bottom: 75px
	.slider-title
		font-size: 11px 
		display: inline-block
		text-decoration: underline


.gallery-popup.owl-carousel
	display: none

.mfp-bg
	opacity: 0.4

.mfp-close-btn-in .mfp-close
	color: #c2c2c2
	font-size: 40px

.mfp-content
	.gallery-popup.owl-carousel
		display: block
		color: #fff
		max-width: 80%
		margin: 0 auto
		display: flex
		flex-direction: column
		.owl-nav
			display: -webkit-box
			display: -webkit-flex
			display: -ms-flexbox
			display: flex
			position: absolute
			top: 50%
			left: 0px
			width: 100%
			height: 50px
			.owl-prev
				transform: rotate(180deg)
				top: 50%
				position: absolute
				left: 5%
			.owl-next
				position: absolute
				right: 5%
				top: 50%	
			.owl-next, .owl-prev
				border: none !important
				&:hover
					background-color: transparent	!important
					svg
						path
								fill: $red
		.gallery-popup-slider
			height: 700px
			padding: 30px
			padding-top: 20px
			background-color: #fff
			text-align: center
			img
				max-width: 100%
				height: -webkit-fill-available
				margin: auto
		.owl-thumbs
			order: -1
			display: flex
			justify-content: center
			background-color: #fff
			padding-top: 30px
		.owl-thumb-item
			height: 81px
			width: 100px
			border: none
			background-color: transparent
			&:hover
				cursor: pointer	
		img
			max-width: 100%

@media screen and (max-width: 900px)
	.project-full-slider 
		.slider-item
			.base-title
				width: 100%
				text-align: center
	.slider-item-grid 
		flex-wrap: wrap
		.item-gallery
			min-width: 100%
			max-width: 100%
			order: -1
			margin-bottom: 30px
		.item-content
			width: 100%
			margin-right: 0
	.object-table
		margin: auto
	.slider-item-grid .item-content .object-addres
		display: none
	.slider-item-grid .item-gallery .main-image
		height: 480px	

	.gallery-popup-slider
		height: auto
	.mfp-content .gallery-popup.owl-carousel .gallery-popup-slider img
		height: auto
	.mfp-content .gallery-popup.owl-carousel .gallery-popup-slider
		height: auto
	.mfp-content .gallery-popup.owl-carousel
		max-width: 100%							

	
@media screen and (max-width: 600px)
	.mfp-content .gallery-popup.owl-carousel .owl-thumbs
		padding-top: 50px
	.mfp-content .gallery-popup.owl-carousel 
		.owl-nav
			top: 0
			display: block !important
	.mfp-content .gallery-popup.owl-carousel .owl-nav .owl-prev
		top: 10px	
	.mfp-content .gallery-popup.owl-carousel .owl-nav .owl-next
		top: 10px
		right: 68%			
	.slider-item-grid
		margin-bottom: 0
	.object-table
		display: none
	.slider-item-grid .item-gallery .main-image
		height: 230px
	.slider-item-grid .item-gallery .mini-objects a
		width: 95px
		height: 95px
		display: none
		&:nth-child(1)
			display: flex
		&:nth-child(2)
			display: flex
		&:last-child
			display: flex
	.slider-titles
		display: none
	.project-slider-buttons
		margin-bottom: 40px								