
.manufacturers-section
	.cooperation-tabs
		li
			margin-right: 85px
	.tab-content
		width: 100%		


.certificates
	display: flex
	justify-content: space-between
	a
		display: inline-block
		max-width: 114px
		width: 100%
		img
			max-width: 100%



.section-grid
	display: flex
	width: 100%
	margin-bottom: 40px

.section-content
	display: flex
	width: 77%
	justify-content: space-between
	align-items: baseline
	flex-wrap: wrap

.section-sidebar
	min-width: 287px
	width: 23%
	background-color: #eff1f1
	padding: 22px 17px
	border-radius: 3px
	margin-left: 30px
	align-self: baseline