@import "vars"


@media screen and (max-width: 1280px)
	.footer
		.footer-bottom
			flex-wrap: wrap
			.payments
				display: none


@media screen and (max-width: 1200px)
	.news
		.news-slider
			.col-3
				flex: 0 0 50%
				max-width: 50%
				margin-bottom: 20px

	.cooperation
		.cooperation-tabs
			display: none !important
		.cooperation-slider
			.owl-stage-outer
				margin-bottom: 50px
			.owl-dots
				display: flex !important
				justify-content: center
				margin-bottom: 30px
				.owl-dot
					width: 8px
					height: 8px
					background-color: #ccc
					margin: 0 5px
					border-radius: 50%
					border: none
					&.active
						background-color: $red
					&:focus
						outline: none

@media screen and (min-width: 1200px)
	.cooperation-container
		.owl-carousel
			display: block


@media screen and (max-width: 1080px)
	.cooperation
		.container
			.cooperation-tabs
				display: none !important
		.cooperation-container
			.cooperation-slider
				.tab-content-wrap
					padding: 30px !important
	.news
		.main-news
			.col-6
				.news-content
					padding: 30px
		.news-slider
			.col-3
				flex: 0 0 50%
				max-width: 50%
				margin-bottom: 20px



@media screen and (max-width: 1275px)
	.header-navigation
		.navigation
			a
				font-size: 15px
				&:last-child
					padding-right: 10px
				&:first-child
					padding-left: 10px

/**/

@media screen and (max-width: 1200px)
	.site-header
		.header-menu
			.header-logo
				margin-right: 0
	.header-menu-content
		.menu-phone
			display: none
	.header-navigation
		.navigation
			a
				font-size: 10px
	.header-content
		.header-advertising
			.advertising-content
				left: 125px

	.footer
		.contacts
			.col-2
				flex: 0 0 33.333%
				max-width: 33.333%
				margin-bottom: 20px
				.contact-links
					a
						display: block
		.footer-nav
			flex-wrap: wrap
			.footer-nav-links
				width: 50%
			.catalog
				width: 50%
				.catalog-wrap
					display: flex
					.catalog-nav
						width: 50%
			.footer-menu-nav
				width: 50%
			.buyers
				width: 50%			



/**/

@media screen and (max-width: 992px)
	.header-content
		.header-slider
			padding-right: 15px
			margin-bottom: 18px
		.header-advertising
			display: flex
			flex-direction: row
			.advertising-content
				left: 290px
			.first-advertising
				margin-bottom: 0
	.header-navigation
		.navigation
			a
				padding: 0 16px
	.news .news-title .more
		display: none			
/**/

@media screen and (max-width: 840px)
	.col-12.col-md-3.services-grid-item
    max-width: 100%
	body,html
		overflow-x: hidden
	.header-menu
		flex-direction: column
		justify-content: center
		.header-menu-content
			.top-menu
				ul
					justify-content: center
					li
						font-size: 13px
			.main-menu
				justify-content: center
		.header-logo
			text-align: center
			margin-bottom: 20px
	.header-navigation
		.navigation
			flex-wrap: wrap
	.header-content
		.header-advertising
			flex-direction: column
			.first-advertising, .second-advertising
				max-width: 100%
			.first-advertising
				margin-bottom: 12px
				.advertising-content
					left: 300px

	.advertising
		display: none
	.header-content .header-slider-item

	.header-owl-carousel .owl-dots
		margin-top: 15px

	.base-title
		font-size: 22px
		text-align: center	

	.card
		max-width: 320px
		margin: 0 auto

	.bestsellers
		margin-bottom: 25px	

	.bestsellers-slider
		.owl-dots
			width: 100%
			text-align: center
			display: block
			.owl-dot
				width: 8px
				height: 8px
				background-color: #d8d8d8
				border-radius: 50%
				margin: 0 3.75px
				outline: none
			.owl-dot.active
				background: $red		

	.owl-carousel .owl-nav
		display: none !important
	.services-grid
		margin: 0
		.owl-nav
			display: none
		.owl-dots
			width: 100%
			text-align: center
			display: block
			.owl-dot
				width: 8px
				height: 8px
				background-color: #d8d8d8
				border-radius: 50%
				margin: 0 3.75px
				outline: none
			.owl-dot.active
				background: $red
		.service-item
			margin-bottom: 15px
		.service-item img
			height: auto
			max-width: 40px

	.header-content
		margin-bottom: 15px		

	.advantages
		margin-bottom: 40px
		.s-icon-image
			margin: 0 auto
			margin-bottom: 20px
		.services-grid-item
			display: flex
			.service-item
				width: 100%
				flex-wrap: wrap
				text-align: center
				align-items: flex-start
		.service-item .s-title
			font-size: 12px

	.objects
		margin-bottom: 25px

	.objects-slider
		.owl-dots
			width: 100%
			text-align: center
			display: block
			margin-top: 0px
			.owl-dot
				width: 8px
				height: 8px
				background-color: #d8d8d8
				border-radius: 50%
				margin: 0 3.75px
				outline: none
			.owl-dot.active
				background: $red
		.service-item
			margin-bottom: 15px
		.service-item img
			height: auto
			max-width: 40px
		.object-description
			display: none
	.slider-item .object-details .details-image
		top: 0
		left: 0
		width: 100%
		height: 600px
	.object-details
		width: 100%
		position: relative
		padding-bottom: 40px
		.object-title-mobile
			display: block
			width: 100%
			font-family: 'Proxima Nova Bold'
			font-size: 20px
			color: #fff
			background-color: rgba(51, 51, 51, 0.5)	
			min-height: 60px
			position: absolute
			bottom: 71px
			left: 0
			z-index: 5
			padding: 10px 17px
	.object-details-content
		padding: 0
		top: 0
		.object-details-list
			display: none
		.buttons-wrap
			justify-content: center
			position: relative
			bottom: -20px




/**/
@media screen and (max-width: 767px) 
	.call-to-action
		.col-6
			flex: 0 0 100%
			max-width: 100%
			padding: 17px 31px
			.subscription-wrap
			&.call-back
				background-size: 158px
			&.subscription
				background-size: 265px

	.manufactures
		.base-title
			text-align: center
		.manufactures-slider
			.owl-nav
				display: none !important
			.owl-stage-outer
				margin-bottom: 50px
			.owl-dots
				display: flex !important
				justify-content: center
				margin-bottom: 30px
				.owl-dot
					width: 8px
					height: 8px
					background-color: #ccc
					margin: 0 5px
					border-radius: 50%
					border: none
					&.active
						background-color: $red
					&:focus
						outline: none
	.cooperation
		.cooperation-slider
			.owl-stage-outer
				margin-bottom: 50px
				.tab-content
					.col-6
						flex: 0 0 100%
						max-width: 100%
						&.tab-img
							position: relative
							height: 300px
							.tab-img-wrap
								h4
									position: absolute
									bottom: -8px
									left: 0
									right: 0
									display: block
									min-height: 55px
									padding: 15px 33px
									background-color: rgba(51, 51, 51, 0.5)
									font-size: 19px
									line-height: 1.32
									color: $white
						&.tab-content-wrap
							.main-info
								display: none !important
								
	
	.footer
		padding: 25px 10px
		.footer-top
			display: block !important
			.social-red
				display: flex
				list-style: none
				padding: 0
				justify-content: center
				margin-bottom: 50px
				li
					padding: 0 5px
					min-width: 40px
					min-height: 40px
					a
						&.instagram, &.facebook, &.vc, &.youtube
							background-image: url(/img/social-red.svg)
							background-repeat: no-repeat
							display: block
							height: 100%
						&.instagram
							background-position: -5px -1px
						&.facebook
							background-position: -59px -1px
						&.vc
							background-position: -118px -1px
						&.youtube
							background-position: -178px -1px
					&.logo-mobile
						width: 120px
						height: 40px
						display: block
						img
							max-width: 100%


		.contacts
			display: none
		.footer-nav
			flex-wrap: wrap
			margin-bottom: 0 !important
			.footer-nav-links
				display: none !important
			.catalog
				width: 50%
				.footer-nav-title
					display: none
					&.mobile
						display: block !important
				.catalog-wrap
					display: flex
					.catalog-nav
						width: 100%
						margin-left: 0 !important
						&.first
							display: none
			.footer-menu-nav
				width: 50%
				padding: 0 10px
			.buyers
				width: 50%
				padding: 0 10px
			.contacts-mobile
				display: block !important
				width: 50%
				padding: 0 10px
				padding-left: 0
		.footer-bottom
			align-items: baseline
			flex-direction: column-reverse
			.copyright
				margin-top: 10px
			.footer-bottom-links
				flex-wrap: wrap
				a
					display: block
					margin-left: 0 !important
		.all-contacts
			margin: -18px 0 30px
			.more
				margin-left: 0 !important
		.soc-mobile
			display: flex !important
			flex-direction: column
			align-items: center
			.footer-nav-title
				margin-bottom: 15px

	// CART MOBILE
				
	.cart-section .base-title
		font-size: 22px
		margin-bottom: 20px			
	.cart-section .cart-order
		flex-wrap: wrap
	.order-content	
		margin-bottom: 20px
	.cart-section .cart-order .order-sum
		width: 100%
		text-align: center				
	.see-also 
		.cooperation-tabs
			justify-content: space-between 
			li
				margin-right: 0
				text-align: center
			a
				font-size: 13px
				width: 100%
				text-align: center

	.cart-section .cart-grid
	  margin-bottom: 40px
	.cart-section .cart-grid .cart-item
		flex-wrap: wrap
	.product-name
		width: 60px
		padding-left: 5px
	.cart-section .cart-grid .cart-head
		p
			display: none
			&:first-child
				display: block			
	 		


@media screen and (max-width: 720px)
	.news
		.news-slider
			.news-item
				.news-img
					display: flex
					align-items: flex-end
					.news-title
						display: inline-block !important
						width: 100%
						background-color: rgba(51, 51, 51, 0.5)
						padding: 10px 20px
						font-size: 19px
						font-weight: bold
						line-height: 1.32
						text-align: left
						color: $white !important
				.news-item-content
					.news-title
						display: none

	/* Mobile menu */

	.mobile-fixed-line
		display: flex
		position: fixed
		height: 50px
		box-shadow: 0 0 25px 0 rgba(104, 117, 124, 0.19)
		background-color: #fff
		z-index: 102
		width: 100%
		left: 0
		top: 0
		padding: 10px 15px
		justify-content: space-between
		.menu-phone
			margin-right: 34px !important
			.second-number
				line-height: 16px
			.number
				font-size: 15px
				margin-bottom: 0
				line-height: 15px
				color: $text !important
			p
				font-size: 11px 
			.phone-image
				margin: 0
				margin-right: 10px
				position: relative
				top: -5px
				img
					width: 35px
 
	body
		padding-top: 0 !important
	.site-header
		padding: 15px
		padding-top: 70px
	.site-header .header-menu .header-logo img
		width: 120px !important
	.site-header .header-menu
		margin-bottom: 10px

	.site-header.fixed
		position: static !important	

	.mobile-search
		input
			display: none
		button
			width: 22px
			height: 22px
			background-color: transparent
			border: none
			background-image: url('../img/search.svg')
			background-position: 50% 50%
			background-size: contain
			padding: 0			

	/* Mobile menu */ 

	.news
		.main-news
			display: none
		.news-slider
			.row
				margin: 0
			.owl-dots
				display: flex !important
				justify-content: center
				.owl-dot
					width: 8px
					height: 8px
					background-color: #ccc
					margin: 0 5px
					border-radius: 50%
					border: none
					&.active
						background-color: $red
					&:focus
						outline: none
			.col-3
				flex: 0 0 100%
				max-width: 100%


							
/**/

@media screen and (max-width: 480px)

	.advantages .services-grid-item .service-item
		width: 50%
	.slider-item .object-details .details-image
		height: 300px
	.manufactures .manufactures-slider .owl-stage-outer
		padding: 10px 0
	.manufactures .manufactures-slider .owl-stage-outer
		margin-bottom: 20px	
	.manufactures .manufactures-slider .manufactures-item
		margin: auto
	.site-header
		.header-menu
			padding: 0
			flex-direction: row
			.header-logo
				margin-bottom: 0
				img
					width: 94px
					height: auto
					margin-top: 8px
	.header-menu
		.header-menu-content
			.top-menu
				display: none
			.main-menu
				justify-content: flex-end
				.menu-search, .menu-button
					display: none
				.menu-phone
					margin-right: 0
					display: block
					.phone-image, .second-number
						display: none
					.first-number
						display: flex
						flex-direction: column-reverse
						.number
							font-size: 15px
						a
							margin-bottom: 8px
	.header-navigation
		display: none
	.header-content
		.header-advertising
			display: none
		.header-slider
			padding: 0
		.header-slider-item
			min-height: 197px
			padding-left: 50px
			padding-top: 30px
			h2
				font-size: 20px
				line-height: 24px
			a
				font-size: 14px
				letter-spacing: 0.65px
	.header-owl-carousel			
		.owl-nav
			display: none
		.owl-dots
			width: 100%
			text-align: center
			display: block
			.owl-dot
				width: 8px
				height: 8px
				background-color: #d8d8d8
				border-radius: 50%
				margin: 0 3.75px
				outline: none
			.owl-dot.active
				background: $red

	.call-to-action
		.col-6
			.call-back-wrap
				max-width: 100% !important
				width: 100%
				text-align: center
				.base-btn
					margin: 0 auto
			.subscription-wrap
				text-align: center
				.base-btn
					margin: 0 auto

	.news
		.news-title
			text-align: center
			.more
				display: none			








/**/





















/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)

// ≥992px
+media-breakpoint-down(md)

// ≥768px
+media-breakpoint-down(sm)

// ≥576px
+media-breakpoint-down(xs)


/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
