.news-content
	.news-card
		.news-block-content
			padding: 21px 21px 36px 21px
			.news-name
				margin-bottom: 7px
			.news-description
				font-size: 15px
				line-height: 23px
			.news-more-block
				margin-bottom: 21px
				p
					font-size: 15px
			.news-card-more
				display: flex
				justify-content: space-between
				.news-date
					p
						font-size: 13px
						font-weight: 600
						letter-spacing: 0.5px
						margin-bottom: 0
		&:hover
			.news-block-content
				padding-bottom: 27px
				.news-name
					margin-bottom: 17px
				.news-description
					display: none
				.news-card-more
					.news-date
						p
							font-size: 15px
							color: $light
						span
							display: none
.news-single
	h2
		font-weight: bold
		margin-bottom: 39px
	.news-single-block
		margin-bottom: 42px
		.news-image
			float: left
			margin-right: 26px
			//margin-bottom: 20px
		.news-date
			margin-bottom: 10px
			font-weight: 600
			letter-spacing: 0.5px
			font-size: 13px
			line-height: 13px
		p
			font-size: 15px
			line-height: 23px
			margin-bottom: 0px
		&:nth-child(3)
			margin-bottom: 7px

@media screen and (max-width: 665px)
	.news-content
		.news-card
			.news-block-content
				padding-bottom: 27px
			&:hover
				.news-block-content
					.news-name
						margin-bottom: 7px
					.news-description
						display: block
					.news-card-more
						.news-date
							p
								color: $text
								font-size: 13px
							span
								display: inline-block
/**/